@model IEnumerable<ProjChoc.Application.ViewModels.ProductViewModel>

@{
	ViewData["Title"] = "Products Management";
}

<style>
	.modal-lg {
		max-width: 80%;
	}
</style>

<div>
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
	<div class="col-md-12">
		<div>
			<div class="pull-left">
				<a asp-action="Create" class="btn btn-outline-success">
					<span title="Register New" class="fa-solid fa-plus"></span> Register New
				</a>
			</div>
		</div>
	</div>
</div>
<br />
<div class="Panel panel-default">
	<table class="table table-striped">
		
		<tbody>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <!-- Adiciona a classe shadow-sm para uma sombra leve -->
                            <img src="@Url.Content("~/Content/Imagem_Chocolates01.svg")" alt="Logo da Empresa" class="card-img-top">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                                <p class="card-text mt-auto">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </p>
                            </div>
                            <div class="card-footer">
                                <!-- Adiciona a classe card-footer para o rodapé -->
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-outline-warning me-2">
                                    <span class="fas fa-edit">Editar</span>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-outline-dark me-2">
                                    <span class="fa-solid fa-circle-info">Detalhes</span>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-outline-danger">
                                    <span class="fa-solid fa-trash-can">Remover</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
		</tbody>
	</table>
</div>